.container {
    width: 50%;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    padding: 8px
}

.user_informations_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12px;
}

.image {
    width: 120px;
    height: 120px
}

.user_information {
    color: white;
    font-size: 22px;
    font-weight: bold
}